# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summerized.

**Objectives:**
- List popular languages for Data Science
- List Data Science Tools
- List commonly used libraries used by Data Scientists
- Convert minutes to hours
- Do a arithmetic expression to multiply and add integers

# Some of the popular languages that Data Scientists use are:
1) Python
2) SQL
3) Scala
4) Julia
5) JavaScript

# Some of the commonly used libraries used by Data Scientists include:

1) Pandas
2) NymPy
3) Matplotlib
4) PyTorch
5) SciPy

# Data Science Tools

| Data Science Tools |
| ------------------ |
| RStudio |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers

17

In [6]:
x = 200
y = 60

print(x / y)

# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

## Author
# OM BELOSE